@import "../variables";

.address {
  div {
    overflow: auto;
    overflow-wrap: anywhere;
  }

  @include listTemplate;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;

  &__wrapper {
    &__valid {
      input {
        border: none;
      }
    }

    &__invalid {
      input {
        border: 2px solid #ff445a !important;
      }
    }

    &__msg {
      font-size: 14px;
      color: #ff445a;
    }
  }

  div {
    margin-bottom: 10px;
    label {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
    input {
      padding: 10px;
      border-radius: 10px;
      border: var(--card-border);
      outline: none;
      width: 100%;
    }
  }

  button {
    @include buttonTemplate;
  }
}
