@import "../variables";

.header {
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  height: 100px;
  width: 100%;
  padding: 0 1.5rem;
  transition: 0.3s ease all;

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 100px;
    }

    &__toggler {
      display: none;
      font-size: 30px;
      cursor: pointer;
      @include md2-breakpoint() {
        display: block;
        z-index: 100;
      }
      @include hoverPrimary;
    }

    &__nav {
      &__toggler {
        transition: 0.3s ease all;
        font-size: 25px;
        @include hoverPrimary;
      }

      ul {
        display: flex;
        list-style: none;
        gap: 25px;

        @include md2-breakpoint() {
          &.close {
            display: none;
          }
          flex-direction: column;
          position: fixed;
          gap: 100px;
          top: 0px;
          right: 0px;
          height: 100%;
          width: 100%;
          padding-top: 150px;
          background-color: $light-dark;
          text-align: center;
          transition: 0.3s ease all;
          font-size: 30px;
          z-index: 100;
        }

        li {
          a {
            text-decoration: none;
            color: inherit;
            padding: 0.75rem 1.25rem;
            border-radius: 16px;
            transition: 0.3s ease all;

            &:hover {
              background: rgba($light, 0.1);
              color: $primary;
            }
          }
        }
      }
    }
  }
}
