@import "../variables";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  &.open {
    visibility: visible;
  }
  background-color: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  visibility: hidden;
  animation: fade-in 500ms forwards;

  &__content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    text-align: center;
    width: 600px;
    position: relative;

    h2 {
      font-size: 24px;
      margin-bottom: 16px;
      color: var(--btn-text-color);
    }

    p {
      margin-bottom: 16px;
      color: var(--btn-text-color);
    }

    &__close {
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
      background: none;
      outline: none;
      border: none;
      font-size: 30px;
      transition: transform 0.3s ease;

      &:hover {
        color: var(--primary);
        transform: scale(1.2);
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-around;

      @include md2-breakpoint() {
        flex-direction: column;
      }

      &__btn {
        @include buttonTemplate;
      }
    }
  }
}
