@import "../variables";

.modal {
  &.open {
    display: flex;
  }
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    text-align: center;
    width: 600px;

    h2 {
      font-size: 24px;
      margin-bottom: 16px;
      color: $dark;
    }

    p {
      margin-bottom: 16px;
      color: $dark;
    }

    &__buttons {
      display: flex;
      justify-content: space-around;

      &__btn {
        font-family: inherit;
        background-color: $primary;
        border: none;
        border-radius: 4px;
        color: $dark;
        cursor: pointer;
        padding: 8px 16px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
