@import "../variables";
@import "../main.module.scss";

.card {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  transition: transform 0.3s ease;
  margin: 16px;
  background-color: var(--card-bg-color);
  border: var(--card-border);

  &:hover {
    box-shadow: var(--card-hover-shadow);
  }

  &__upper {
    @include displayFlex;
    position: relative;
    &__image {
      padding: 10px;
      width: 100%;
      max-width: 300px;
      max-height: 250px;
      border-radius: 4px;
    }
    &__fav {
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 30px;
      color: var(--primary);
      background-color: var(--fav-icon-bg-color);
      border-radius: 50%;
      border: none;
      padding: 8px;
      transition: transform 0.3s ease;
      @include displayFlex;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &__content {
    &__incart {
      @include displayFlex;
      gap: 10px;
      font-size: 25px;
    }

    &__rating {
      @include displayFlex;
      gap: 5px;

      &__star {
        color: yellow;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: bold;
    }

    &__brand {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 8px;
    }

    &__price {
      font-size: 20px;
      font-weight: bold;
      color: #ff5a5f;
      margin-bottom: 16px;
    }

    &__button {
      font-family: inherit;
      font-weight: 500;
      padding: 10px;
      border: none;
      border-radius: 6px;
      background-color: var(--primary);
      color: var(--btn-text-color);
      transition: transform 0.3s ease;
      cursor: pointer;
      margin-bottom: 16px;

      &:hover {
        transform: scale(1.1);
      }

      &__cart__inc {
        background: none;
        border: none;
        color: var(--primary);
        font-size: 25px;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin: 20px;

        &:hover {
          transform: scale(1.4);
        }
      }

      &__cart__dec {
        @extend .card__content__button__cart__inc;
      }
    }
  }
}

.modal {
  &.open {
    display: flex;
  }
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  &__content {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    margin: 24px;
    text-align: center;
    width: 600px;

    h2 {
      font-size: 24px;
      margin-bottom: 16px;
      color: var(--btn-text-color);
    }

    p {
      margin-bottom: 16px;
      color: var(--btn-text-color);
    }

    &__buttons {
      display: flex;
      justify-content: space-around;

      &__btn {
        @extend .card__content__button;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
