@import "../variables";

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: inherit;
  border-radius: 5px;
  margin: 50px 50px 0 50px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border: 1px solid #313131;

  @include xs-breakpoint() {
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    &__input {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  input {
    font-family: inherit;
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  select {
    font-family: inherit;
    cursor: pointer;
    width: 25%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
  }
}
