@import "./variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-family: $Prompt;
  width: 100%;
  color: $light;
  background-color: $dark;
}

[data-theme="light"] {
  font-family: $Prompt;
  width: 100%;
  color: $dark;
  background-color: $light;
}
